.checkbox-wrapper {
  display: flex;
  align-items: center;
}
.slds-modal__content .custom-warning {
  color: yellow !important; /* Use !important to override other styles */
  font-weight: bold; /* Optional */
}