lightning-spinner.slds-spinner_container {
    position: fixed;

   
    background-color: white; /* Black background with opacity */
  

    /* bottom: 0; */
}

/* .custom-hr { */
    /* border-top: 0.8px solid #ccc;  */
    /* margin: 5px 0;  */
/* } */

/* .custom-hr {
    border-top: 0.8px solid #ccc; 
    margin: 0;
    padding: 0;
} */