.overflowClass{
    max-width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: pre-wrap !important;
}

.dropdownList{
    white-space: pre-wrap !important;
}