.datatable-container {

    width: 100%;

    overflow-x: auto;

}



.datatable {

    width: 100%;

    border-collapse: collapse;

}



.datatable th,

.datatable td {

    border: 1px solid #dddddd;

    padding: 8px;

    text-align: left;

}



.datatable th {

    background-color: #f2f2f2;

    font-weight: bold;

}



.datatable th:first-child,

.datatable td:first-child {

    text-align: center;

}



.sub-table {

    width: 100%;

}



.sub-table th,

.sub-table td {

    border: 1px solid #dddddd;

    padding: 8px;

    text-align: left;

}

.centered-content {
    text-align: center; /* Center align the text within the specified td elements */
}