.custom-combobox {
    width: 300px; /* Adjust the width value as desired */
  }

.slds-hide {
    display: none;
}

.slds-spinner_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Adjust the z-index based on your design */
}

.custom-button:hover {
    cursor: pointer;
}