.custom-button {
    color: #4CAF50;
    text-decoration: #4CAF50;
    border: #4CAF50;
    text-align: center;
    --sds-c-icon-color-foreground-default: #19ed19;
    size: large;
    --slds-icon-size-large: 50px;
}

.white-utility-icon {
    --sds-c-icon-color-foreground-default: #eff6ef;
}

.modal-container {
    position: fixed;
    left: 50%;
    /* transform: translate(-100%,-100%); */
    z-index: 1000; /* Ensure it appears above other elements */
}