.slds-modal__container{
	width: 90% !important;
	max-width: 90% !important;
}
.scroller{
	overflow-x: scroll;
}
.requiredIndicator::after {
    content: '*';
    color: red; /* Adjust color as needed */
    margin-left: 4px; /* Adjust spacing as needed */
}