.tableScroll {
    width: 100% !important;
    overflow-x: auto;
    height: 12rem;
  }
  .fixedWidt {
    width: 5rem;
  }
  .fixedWidth {
    width: 10rem;
  }
  .fixedWidthh {
    width: 14rem;
  }
  .fixedWidthhh {
    width: 16rem;
  }