body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}

table {
    width: max-content;
    border-collapse: collapse;
    margin: 15px;
}

th, td {
    border: 1px solid #dddbda;
    padding: 3px 6px;
    text-align: left;
    width: fit-content;
}

th {
    background: #F3F2F2;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    width: 120px;
}

td {
    background: #ffffff;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px
}

h3 {
    color: #080707;
font-family: Segoe UI;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 18px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

input {
    padding: 4px 12px;
    border-radius: 4px;
    border: 1px solid #DDDBDA;
    background: #FFF;
    color: #080707;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

input:focus-visible, input:focus, input:active {
    border: 1px solid #5EB4FF;
    box-shadow: 0px 0px 4px 0px #5EB4FF;
    outline: none;
}

.dflx {
    display: flex;
    align-items: normal;
}

input:disabled {
    background: #EDEDED;
    padding: 0px 12px;
    border-radius: 4px;
    border: none;
    color: #3E3E3C;
    text-align: right;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    min-height: 32px;
}

.text-left{
    text-align: left !important;
}

.slds-input{
    border-color: lightgrey !important;
    
}

.commentclass
{
    width: 1260px;
    margin-left: 26px;
}