.container {
    display: flex;
}
.container lightning-button {
    margin-right: 7px; /* Adjust as needed for spacing between button and combobox */
}
/* .accClass
{
    --slds-c-accordion-summary-color-background : rgb(243, 243, 243) ;
    --slds-c-accordion-color-border : 0.5rem;
} */