/* .slds-modal__container {
    width: 90% !important;
    max-width: 90% !important;
} */
.custom-button:hover {
    cursor: pointer;
}
.dividerPosition {
    position: static !important;
}
.slds-modal__container {
    width: 30% !important;
}
.tableScroll {
    width: 100% !important;
    overflow-x: auto;
    height: 12rem;
}
.fixedWidth{
    width: 9rem;
}
.fixedPosition{
    position: unset;
}