.custom-button:hover {
  cursor: pointer;
}
.accClass {
  --slds-c-accordion-summary-color-background: rgb(243, 243, 243);
  /* --slds-c-accordion-color-border : 0.5rem; */
}
.customButton:hover {
  cursor: pointer;
}
.tableScroll {
  width: 100% !important;
  overflow-x: auto;
  /* height: 12rem; */
}
.fixedWid {
  width: 5rem;
}
.fixedWidt {
  width: 7rem;
}
.fixedWidth {
  width: 10rem;
}
.fixedWidthh {
  width: 13rem;
}
.fixedWidthhh {
  width: 16rem;
}

label:before {
  content: "*";
  color: red;
}
.custom-title {
  font-size: 1rem; /* Adjust the size as needed */
}