/* .td-fixed-width {
    width: 10rem;
} */
.tableScroll {
    width: 100% !important;
    overflow-x: auto;
    /* height: 12rem; */
  }
  .fixedWidth{
    width:22rem;
  }

  .fixedWidth1{
    width:12rem;
  }
  .slds-table .slds-cell-wrap {
    white-space: pre-line;
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* position: relative; */
    width: 250px;
}


/* adding here */
.datatable-container {

  width: 75%;

  overflow-x: auto;

}



.datatable {

  width: 100%;

  border-collapse: collapse;
  

}



.datatable th,

.datatable td {

  border: 1px solid #dddddd;

  padding: 8px;

  text-align: left;

}



.datatable th {

  background-color: #f2f2f2;

  font-weight: bold;

}



.datatable th:first-child,

.datatable td:first-child {

  text-align: center;

}



.sub-table {

  width: 100%;

}



.sub-table th,

.sub-table td {

  border: 1px solid #dddddd;

  padding: 8px;

  text-align: left;

}

.lineBreak{

  background-color:white !important;
  border:none !important;
  

}
.wrap-textarea{
  height: 5rem; /* Set the height to accommodate 5 lines */
  overflow-y: auto; /* Add vertical scrollbar if content exceeds the height */
  resize: vertical; /* Allow vertical resizing if needed */
}

.textAreaBreakWrap{
  --sds-c-textarea-sizing-min-height: 100px;
}

/* @media (max-width: 1023px){   selector br{   display: none;   } }  */